.navbar-light .navbar-brand {
    color: rgb(219, 222, 255);
  }
body{
    background-color: #1a2931;
}  

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.59);
} 

.card{
    color: #5e8282;
    background-color: #264d59;
}

  h1{
    color: #d7dcfa;
  }

  .btn-primary {
    color: #e2dbdb;
    background-color: #037766b9;
    border-color: #00f3ff5c;
  } 
  p {
    color: #d7dcfa;
}