<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create Student</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/form.css}">
</head>

<body>
    <div class="container mt-5">
        <h1 class="mb-4">Create Teacher</h1>
        <form th:action="@{admin/teachers/reg}" th:object="${teacher}" method="post" class="needs-validation"
            novalidate>
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" class="form-control" id="first_name" th:field="*{firstname}" required>
                <div class="invalid-feedback">Please provide a first name.</div>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" class="form-control" id="last_name" th:field="*{lastname}" required>
                <div class="invalid-feedback">Please provide a last name.</div>
            </div>
            <div class="form-group">
                <label for="surname">Surname:</label>
                <input type="text" class="form-control" id="surname" th:field="*{surname}" required>
                <div class="invalid-feedback">Please provide a surname.</div>
            </div>

            <div class="form-group">
                <label for="last_name">UserName:</label>
                <input type="text" class="form-control" id="lastname" th:field="*{username}" required>
                <div class="invalid-feedback">Please provide a username.</div>
            </div>
            <div class="form-group">
                <label for="last_name">password:</label>
                <input type="text" class="form-control" id="last_name" th:field="*{password}" required>
                <div class="invalid-feedback">Please provide a password.</div>
            </div>



            <!--
            <div class="form-group">
                <label for="gender">Gender:</label>
                <select class="form-control" id="gander" th:field="*{gander}" required>
                    <option value="">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
                <div class="invalid-feedback">Please select a gender.</div>
            </div>



            <div class="form-group">
                <label for="major">Subjects:</label>
                <select type="text" class="form-control" id="subjects" th:field="*{major}" required>
                    <option value="">Select Subjects</option>
                    <option value="12th Grade-Science">12th Grade-Science</option>
                    <option value="12th Grade-Commerse">12th Grade-Commerse</option>
                    <option value="12th Grade-General">12th Grade-General</option>
                    <option value="11th Grade-Science">11th Grade-Science</option>
                    <option value="11th Grade-Commerse">11th Grade-Commerse</option>
                    <option value="11th Grade-General">11th Grade-General</option>
                    <option value="10th Grade-Science">10th Grade-Science</option>
                    <option value="10th Grade-Commerse">10th Grade-Commerse</option>
                    <option value="10th Grade-Genera">10th Grade-General</option>
                    <option value="9th Grade">9th Grade</option>
                    <option value="8th Grade">8th Grade</option>
                    <option value="7th Grade">7th Grade</option>
                    <option value="6th Grade">6th Grade</option>
                    <option value="5th Grade">5th Grade</option>
                    <option value="4th Grade">4th Grade</option>
                    <option value="3rd Grade">3rd Grade</option>
                    <option value="2nd Grad">2nd Grade</option>s
                    <option value="1st Grade">1st Grade</option>
                    <option value="R Grade">R Grade</option>

                </select>
                <div class="invalid-feedback">Please provide subjects.</div>
            </div>-->

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Custom JS for form validation -->
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>

</html>
