<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teachers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/list.css}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Teachers</h1>
        <a th:href="@{/teachers/new}" class="btn btn-primary mb-4">Add New Teacher</a>
        <a th:href="@{/home}" class="btn btn-primary mb-4">Back to Home</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Surname</th>
                    <th>Username</th>
                    <th>Class</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="teachers : ${teachers}">
                    <td th:text="${teachers.id}">1</td>
                    <td th:text="${teachers.first_name}"></td>
                    <td th:text="${teachers.last_name}"></td>
                    <td th:text="${teachers.surname}"></td>
                    <td th:text="${teachers.username}"></td>
                    <td th:text="${teachers.major}"></td>
                    <td th:text="${teachers.email}"></td>
                    <td>
                        
                        
                        <a th:href="@{/admin/teachers/edit/{id}(id=${teachers.id})}" class="btn btn-warning">Edit Teacher</a>

                        <a th:href="@{/teachers/delete/{id}(id=${teachers.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
